/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111;
  color: #fff;
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #000;
  padding: 30px 20px;
  border-right: 2px solid #ff4500;
}

.logo {
  color: #ff4500;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #ff4500;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 40px;
}

h1 {
  color: #ff4500;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
  opacity: 0.8;
}

/* PROMOÇÕES */
.promos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.promo-card {
  background: #000;
  border: 1px solid #222;
  border-left: 4px solid #ff4500;
  padding: 20px;
  width: 260px;
  border-radius: 8px;
}

.promo-card h2 {
  color: #ff4500;
  margin-bottom: 10px;
}

.promo-card span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}
